<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EAT DA BURGER!</title>
  </head>
  <!--main.handlebars requires 3 brackets on each side as shown below  -->
  <body>
      {{{body}}}
  </body>
</html>
